#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: "matugen-updated",
    cache_dir: None,
    on_song_change: ["~/.local/share/rmpc/scripts/increment-playcount.sh"],
    on_exit: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    scroll_amount: 1,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: false,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    cava: (
        framerate: 60, // default 60
        autosens: true, // default true
        sensitivity: 100, // default 100
        lower_cutoff_freq: 50, // not passed to cava if not provided
        higher_cutoff_freq: 10000, // not passed to cava if not provided
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 77, // default 77
            monstercat: true, // default false
            waves: false, // default false
        ),
        // this is a list of floating point numbers thats directly passed to cava
        // they are passed in order that they are defined
        //eq: [1, 2, 3, 4, 5]
    ),
    keybinds: (
        global: {
            "q":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "oI":         ShowCurrentSongInfo,
            "oo":         ShowOutputs,
            "op":         ShowDecoders,
            "od":         ShowDownloads,
            "oP":         Partition(),
            "z":          ToggleRepeat,
            "x":          ToggleRandom,
            "c":          ToggleConsume,
            "v":          ToggleSingle,
            "p":          TogglePause,
            "s":          Stop,
            ">":          NextTrack,
            "<":          PreviousTrack,
            "f":          SeekForward,
            "b":          SeekBack,
            ".":          VolumeUp,
            ",":          VolumeDown,
            "<Tab>":      NextTab,
            "gt":         NextTab,
            "<S-Tab>":    PreviousTab,
            "gT":         PreviousTab,
            "1":          SwitchToTab("Queue"),
            "2":          SwitchToTab("Directories"),
            "3":          SwitchToTab("Artists"),
            "4":          SwitchToTab("Album Artists"),
            "5":          SwitchToTab("Albums"),
            "6":          SwitchToTab("Playlists"),
            "7":          SwitchToTab("Search"),
            "<C-u>":      Update,
            "<C-U>":      Rescan,
            "R":          AddRandom,
        },
        navigation: {
            "<C-c>":      Close,
            "<Esc>":      Close,
            "<CR>":       Confirm,
            "k":          Up,
            "<Up>":       Up,
            "j":          Down,
            "<Down>":     Down,
            "h":          Left,
            "<Left>":     Left,
            "l":          Right,
            "<Right>":    Right,
            "<C-w>k":     PaneUp,
            "<C-Up>":     PaneUp,
            "<C-w>j":     PaneDown,
            "<C-Down>":   PaneDown,
            "<C-w>h":     PaneLeft,
            "<C-Left>":   PaneLeft,
            "<C-w>l":     PaneRight,
            "<C-Right>":  PaneRight,
            "K":          MoveUp,
            "J":          MoveDown,
            "<C-u>":      UpHalf,
            "<C-d>":      DownHalf,
            "<C-b>":      PageUp,
            "<PageUp>":   PageUp,
            "<C-f>":      PageDown,
            "<PageDown>": PageDown,
            "gg":         Top,
            "G":          Bottom,
            "<Space>":    Select,
            "<C-Space>":  InvertSelection,
            "/":          EnterSearch,
            "n":          NextResult,
            "N":          PreviousResult,
            "a":          Add,
            "A":          AddAll,
            "D":          Delete,
            "<C-r>":      Rename,
            "i":          FocusInput,
            "oi":         ShowInfo,
            "<C-z>":      ContextMenu(),
            "<C-s>s":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "<C-s>a":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "r":          Rate(),
        },
        queue: {
            "d":          Delete,
            "D":          DeleteAll,
            "<CR>":       Play,
            "C":          JumpToCurrent,
            "X":          Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),
    tabs: [
        (
            name: "Now Playing",
            pane: Split(
                direction: Vertical,
                panes: [
                	(
                        size: "100%", 
                        pane: Split(
                            direction: Horizontal,
                            borders: "BOTTOM",
                            panes: [
                                (
                                    size: "40%",
                                    horizontal_align: Centre,
                                    vertical_align: Center,
                                    pane: Pane(AlbumArt)
                                ),
                                (size: "1", pane: Pane(Empty())),
                                (size: "60%", pane: Split(
                                    direction: Vertical,
                                    panes: [
                                        (
                                            size: "1",
                                            scroll_speed: 1,
                                            pane: Component("artist_and_track"),
                                        ),
                                        (
                                            size: "100%",
                                            pane: Split(
                                                direction: Horizontal,
                                                panes: [
                                                    (
                                                        size: "50%",
                                                        align: Left,
                                                        pane: Component("state")
                                                    ),
                                                    (
                                                        size: "50%",
                                                        align: Right,
                                                        pane: Component("elapsed_time")
                                                    ),
                                                ]
                                            )
                                        ),
                                    ])
                                ),
                                (size: "3", pane: Pane(Empty()))
                            ]
                        )
                    ),
                    (size: "100%", pane: Pane(Cava)),
                ],
            ),
        ),
        (
            name: "Queue",
            pane: Split(
                direction: Vertical,
                panes: [
                    (size: "1", pane: Pane(QueueHeader())),
                    (size: "100%", pane: Pane(Queue)),
                ]
            )
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists)
        ),
        (
            name: "Files",
            pane: Pane(Directories),
            background_color: "blue",
        ),
        (
            name: "Search",
            borders: "NONE",
            border_symbols: Rounded,
            pane: Pane(Search),
        ),
        (
            name: "Browse (WIP)",
            background_color: "green",
            pane: Pane(Browser(
                root_tag: "AlbumArtist",
                levels: [
                    (
                        // Only tags defined in group_by are available on the first level. Fallback tags
                        // are not supported here, each entry must have exactly one tag.
                        // Multiple group_by entries produce one directory per unique combination of those
                        // tags. sort_by and format must only reference tags defined in group_by.
                        group_by: [[AlbumArtist], [Album], [Other("date")]],
                        sort_by: [[AlbumArtist]],
                        format: [
                            (kind: Property(AlbumArtist), default: (kind: Text("<no artist>"))),
                            (kind: Text(" - ")),
                            (kind: Property(Album)),
                            (kind: Text(" - ")),
                            (kind: Property(Other("date")), default: (kind: Text("<no date>"))),
                        ],
                    ),
                    (
                        group_by: [[Added], [Other(Genre)]],
                        sort_by: [[AddedDesc]],
                        format: [
                            (kind: Text("Added on: ")),
                            (kind: Property(Added)),
                            (kind: Other(Genre)),
                        ]
                    ),
                    (
                        group_by: [[Other("label")]],
                        sort_by: [[Other("label")]],
                        format: [
                            (kind: Property(Other("label")), default: (kind: Property(Other("label")), default: (kind: Text("no artist")))),
                        ]
                    ),

                    (
                        group_by: [[Other("genre")]],
                        sort_by: [[Other("genre")]],
                        format: [
                            (kind: Property(Other("genre")), default: (kind: Property(Other("genre")), default: (kind: Text("no artist")))),
                        ]
                    ),

                    
                    
                    
                ]
            )
        )),
       
	],
)
